body{
    font-family: 'Kdam Thmor Pro', sans-serif;
    background-image: url("bg.jpg");
    background-size:cover;
    color:white;
}

#camera1 , #result
{
  border: 2px dashed white;
  width: 280px;
  height: 280px; 
}